#############################################################################
#
#	Kconfig - library configuration
#
#############################################################################

menu "glibc Library Configuration (if selected)"

choice
	prompt "Which glibc version ?"
	default GLIBC_2_3_6
	depends on DEFAULTS_LIBC_GLIBC
	help
	  Select which glibc you want your system to use.

config GLIBC_2_3_6
	bool "glibc-2.3.6"
	help
		glibc version 2.3.6

config GLIBC_2_5
	bool "glibc-2.5"
	help
		glibc version 2.5

endchoice

endmenu

#############################################################################
