VIRUS /usr/bin/scan /nomem /sub *
arj
 arj a -+ -y -a1 -r -j$ -s -jm -2s "%s"
 arj x -y "%s"
 AD
zip
 zip -r "%s" . -i *
 unzip "%s"
 AD
rar
 rar a -r -y "%s"
 rar x -y "%s"
 AD
tar.Z
 tar -cvZf "%s" .
 tar -xvZf "%s"
 ADT
tar.gz
 tar -cvzf "%s" .
 tar -xvzf "%s"
 ADT
tgz
 tar -cvzf "%s" .
 tar -xvzf "%s"
 ADT
tar.bz2
 tar --bzip2 -cvf "%s" .
 tar --bzip2 -xvf "%s"
 ADT
