Source: libosip2
Priority: optional
Maintainer: Aymeric Moizard <jack@atosc.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: libosip2-dev
Section: devel
Architecture: any
Depends: libosip2 (= ${Source-Version}), libc6-dev
Description: oSIP library, Development (for open SIP) 
 This is the oSIP library. It has been designed to provide
 the Internet Community a simple way to support SIP
 (Session Initiation Protocol). SIP is described in the RFC3261
 which is available at http://www.ietf.org/rfc/rfc3261.txt.

Package: libosip2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: oSIP library
 This is the oSIP library. It has been designed to provide
 the Internet Community a simple way to support SIP
 (Session Initiation Protocol). SIP is described in the RFC3261
 which is available at http://www.ietf.org/rfc/rfc3261.txt.
