Net sys_clk PERIOD = 10000 ps;
Net RS232_RX LOC=U9;
Net RS232_TX LOC=W7;
Net RS232_req_to_send LOC=Y7;
Net LEDs_4Bit_GPIO_IO<0> LOC=V8;
Net LEDs_4Bit_GPIO_IO<1> LOC=W6;
Net LEDs_4Bit_GPIO_IO<2> LOC=U10;
Net LEDs_4Bit_GPIO_IO<3> LOC=V10;
Net SDRAM_8Mx32_SDRAM_DQ<0> LOC=R1;
Net SDRAM_8Mx32_SDRAM_DQ<1> LOC=P2;
Net SDRAM_8Mx32_SDRAM_DQ<2> LOC=R2;
Net SDRAM_8Mx32_SDRAM_DQ<3> LOC=P1;
Net SDRAM_8Mx32_SDRAM_DQ<4> LOC=T1;
Net SDRAM_8Mx32_SDRAM_DQ<5> LOC=N2;
Net SDRAM_8Mx32_SDRAM_DQ<6> LOC=T2;
Net SDRAM_8Mx32_SDRAM_DQ<7> LOC=N1;
Net SDRAM_8Mx32_SDRAM_DQ<8> LOC=Y2;
Net SDRAM_8Mx32_SDRAM_DQ<9> LOC=W2;
Net SDRAM_8Mx32_SDRAM_DQ<10> LOC=Y1;
Net SDRAM_8Mx32_SDRAM_DQ<11> LOC=V2;
Net SDRAM_8Mx32_SDRAM_DQ<12> LOC=W1;
Net SDRAM_8Mx32_SDRAM_DQ<13> LOC=U2;
Net SDRAM_8Mx32_SDRAM_DQ<14> LOC=V1;
Net SDRAM_8Mx32_SDRAM_DQ<15> LOC=U1;
Net SDRAM_8Mx32_SDRAM_DQ<16> LOC=E2;
Net SDRAM_8Mx32_SDRAM_DQ<17> LOC=D1;
Net SDRAM_8Mx32_SDRAM_DQ<18> LOC=E1;
Net SDRAM_8Mx32_SDRAM_DQ<19> LOC=D2;
Net SDRAM_8Mx32_SDRAM_DQ<20> LOC=F2;
Net SDRAM_8Mx32_SDRAM_DQ<21> LOC=G5;
Net SDRAM_8Mx32_SDRAM_DQ<22> LOC=F1;
Net SDRAM_8Mx32_SDRAM_DQ<23> LOC=F5;
Net SDRAM_8Mx32_SDRAM_DQ<24> LOC=K1;
Net SDRAM_8Mx32_SDRAM_DQ<25> LOC=J1;
Net SDRAM_8Mx32_SDRAM_DQ<26> LOC=K2;
Net SDRAM_8Mx32_SDRAM_DQ<27> LOC=H1;
Net SDRAM_8Mx32_SDRAM_DQ<28> LOC=J2;
Net SDRAM_8Mx32_SDRAM_DQ<29> LOC=G1;
Net SDRAM_8Mx32_SDRAM_DQ<30> LOC=H2;
Net SDRAM_8Mx32_SDRAM_DQ<31> LOC=G2;
Net SDRAM_8Mx32_SDRAM_Addr<0> LOC=F3;
Net SDRAM_8Mx32_SDRAM_Addr<1> LOC=N3;
Net SDRAM_8Mx32_SDRAM_Addr<2> LOC=K4;
Net SDRAM_8Mx32_SDRAM_Addr<3> LOC=H4;
Net SDRAM_8Mx32_SDRAM_Addr<4> LOC=G3;
Net SDRAM_8Mx32_SDRAM_Addr<5> LOC=L3;
Net SDRAM_8Mx32_SDRAM_Addr<6> LOC=H3;
Net SDRAM_8Mx32_SDRAM_Addr<7> LOC=J4;
Net SDRAM_8Mx32_SDRAM_Addr<8> LOC=M3;
Net SDRAM_8Mx32_SDRAM_Addr<9> LOC=N4;
Net SDRAM_8Mx32_SDRAM_Addr<10> LOC=P4;
Net SDRAM_8Mx32_SDRAM_Addr<11> LOC=M4;
Net SDRAM_8Mx32_SDRAM_DQM<3> LOC=T3;
Net SDRAM_8Mx32_SDRAM_DQM<2> LOC=F4;
Net SDRAM_8Mx32_SDRAM_DQM<1> LOC=U4;
Net SDRAM_8Mx32_SDRAM_DQM<0> LOC=U3;
Net SDRAM_8Mx32_SDRAM_WEn LOC=R3;
Net SDRAM_8Mx32_SDRAM_CKE LOC=J3;
Net SDRAM_8Mx32_SDRAM_CSn LOC=P3;
Net SDRAM_8Mx32_SDRAM_CASn LOC=K3;
Net SDRAM_8Mx32_SDRAM_RASn LOC=T4;
Net SDRAM_8Mx32_SDRAM_Clk LOC=E3;
Net SDRAM_8Mx32_SDRAM_BankAddr<1> LOC=L4;
Net SDRAM_8Mx32_SDRAM_BankAddr<0> LOC=R4;
Net sys_clk LOC=v12;
Net sys_rst LOC=v15;
