
config USER_LUA
  bool "lua"
  help
     The lua programming language compiler and interpreter.
     See http://www.lua.org/

config USER_LUA_LUAROCKS
  bool "lua: luarocks"
  depends on USER_LUA
  default n
  help
	 Everything lua can come via this package

config USER_LUA_ORBIT
  bool "lua: orbit"
  depends on USER_LUA_LUAROCKS
  default n
  help
     MVC web frameowrk for lua.

config USER_LUA_LUASQL_SQLITE3
  bool "lua: luasql-sqlite3"
  depends on USER_LUA_LUAROCKS
  default n
  help
     Luasql-sqlite3

config USER_LUA_WSAPI
  bool "lua: wsapi"
  depends on USER_LUA_LUAROCKS
  default n
  help
     WSAPI

config USER_LUA_WSAPI_XAVANTE
  bool "lua: wsapi-xavante"
  depends on USER_LUA_LUAROCKS
  default n
  help
     WSAPI Xavante

config USER_LUA_XAVANTE
  bool "lua: xavante"
  depends on USER_LUA_LUAROCKS
  default n
  help
     Xavante web server

config USER_LUA_COSMO
  bool "lua: cosmo"
  depends on USER_LUA_LUAROCKS
  default n
  help
     Cosmo is a “safe templates” engine.

