# canreport.rc

# Communication server and protocol
set ST(server) horch
set ST(protocol) "tcp"
set ST(host) 194.173.33.69
set ST(port) 7235
set ST(baud) 125
set ST(device) /dev/can1

# list of host names where this programm can connect to
# (running any instance of 'horch': EtherCAN, LINUX with AT-CAN-MINI,...
# please add the names in the following second (or following) line
set ST(host_list) {localhost 194.173.33.69}

# auto connect at startup
set ST(auto_connect) 0

# auto save
set ST(auto_save) 0

# load canopen extension
set ST(load_canopen) 0
set ST(co_main) 0

# load devicenet extension
set ST(load_dnet) 0

# load user extension
set ST(load_user) 0

# Balloon help
set ST(balloonhelp) 1

set ST(pretrig_max) 5000

# Acceptance code & mask settings
set ST(accmask) "4294967295"
set ST(acccode) "4294967295"
# TX Message Object 1
set ST(txcfg1) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,1) 0
# TX Message Object 2
set ST(txcfg2) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,2) 0
# TX Message Object 3
set ST(txcfg3) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,3) 0
# TX Message Object 4
set ST(txcfg4) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,4) 0
# TX Message Object 5
set ST(txcfg5) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,5) 0
# TX Message Object 6
set ST(txcfg6) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,6) 0
# TX Message Object 7
set ST(txcfg7) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,7) 0
# TX Message Object 8
set ST(txcfg8) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,8) 0
# TX Message Object 9
set ST(txcfg9) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,9) 0
# TX Message Object 10
set ST(txcfg10) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,10) 0
# TX Message Object 11
set ST(txcfg11) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,11) 0
# TX Message Object 12
set ST(txcfg12) {0	0	0	0	0	0	0	0	0	0	0	0	}
set ST(rf,12) 0

