config LIB_STLPORT
	bool "Build STLport"
	default n
	help
	  A replacement to libstdc++.  It is smaller than the gcc version.

config LIB_STLPORT_SHARED
	bool "Build STLport as shared"
	depends on LIB_STLPORT
	help
	  Build a shared library version of libstdc++.
