# This is the faxlist.
#
# Not corresponding entries are seperated with a blank line
# Other blank lines are ignored
# Lines starting with # are comments and also ignored
#
# Syntax Description
# ------------------
# id [substring]	Substring of ID for the next lines
# name name		Name for mail or notifications
# mail e-mail		Send a notification via email
# notify user@domain	Send a notification via email
# print [printer]	Print the fax on this printer

id 
write root
mail root
