# faxdvi.config
#
# This is an example configuration file for FAXDVI.  Feel free to do
# anything you want to do with it.
#
# Ralph Schleicher
# 241:10000/1513@PNoF
# rs@purple.PNoF.sub.org


# Phone number aliases can be specified with the `alias' command.  The
# syntax is
#
#     alias <alias-name> [<comment>] <phone-number>
#
# The optional comment has to be put into parenthesis.  <phone-number>
# can be either the final phone number or another alias.  Dialing lists
# may be built by joining multiple phone numbers separated with commas.
#
# <phone-number> will be treated as a command if it starts with a vertical
# bar (this feature does not work within the definition of a dialing list).
# The token `@' will be replaced with <comment> only if <comment> is given.
#
alias ts (Thomas Schmitt) 07522-28363
alias cdg (Cees de Groot) |pnof -f -r name -r phone | fgrep '@' | cut -f2 -d,
alias pnof ts,cdg

# The topmost matching translation rule will be applied to the resulting
# phone number after alias substitution.  `dialtrans' is a single matching
# search and replace command as you know if from perl(1).
#
dialtrans /^0/0/
dialtrans /^([1-9][0-9]*)$/$1/
dialtrans /^49-7352-//
dialtrans /^49-/0/
dialtrans /^/00/
