conn pc-to-snapgear
type = tunnel
left=%defaultroute
leftcert=/etc/config/snapgear.pem
right = 0.0.0.0
rightid="C=AU, ST=QLD, L=Brisbane, O=SnapGear, OU=Test PC, CN=windows"
rightrsasigkey=%cert
keyexchange = ike
auth = esp
authby=rsasig
pfs = no
keylife = 1h
ikelifetime = 5h
rekeyfuzz = 50%
rekeymargin = 10s
keyingtries = 0
auto = add
