/* w3cam example CSS style file */

BODY {
	background: #f0f0f0;
	color: #0f0f0f;
	margin-top:  0.4em;
	margin-left: 0.2em;
}

A {
	text-decoration: underline;
}
A:link {
	color: rgb(040,040,238)
}
A:visited {
	color: rgb(090,090,200)
}
A:active {
	color: rgb(153,153,000)
}

H1,H2,H3,H4,H5,H6 {
	color: #a0a0ff;
	font-family: fattip, crillee, helvetica;
}
H1 { font-size: 22pt; }

ADDRESS {
	font-style: italic;
	font-size: small;
}
FORM {
	background: black;
	font-size: small;
}

/* some classes */

.panel {
	text-align: center;
	/* font-size: tiny; */
}

.image {
	align: left;
}

.footer {
	font-size: small;
}

