///
///	@file 	mpr.rc
/// @brief 	Windows resource file for the MPR library
///
////////////////////////////////////////////////////////////////////////////////
//
//	Copyright (c) Mbedthis Software LLC, 2003-2004. All Rights Reserved.
//	The latest version of this code is available at http://www.mbedthis.com
//
//	This software is open source; you can redistribute it and/or modify it 
//	under the terms of the GNU General Public License as published by the 
//	Free Software Foundation; either version 2 of the License, or (at your 
//	option) any later version.
//
//	This program is distributed WITHOUT ANY WARRANTY; without even the 
//	implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
//	See the GNU General Public License for more details at:
//	http://www.mbedthis.com/downloads/gplLicense.html
//	
//	This General Public License does NOT permit incorporating this software 
//	into proprietary programs. If you are unable to comply with the GPL, a 
//	commercial license for this software and support services are available
//	from Mbedthis Software at http://www.mbedthis.com
//
////////////////////////////////////////////////////////////////////////////////

#define PATCH_LEVEL "1.0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 	1,0,0
 PRODUCTVERSION 1,0,0
 FILEFLAGSMASK 	0x3fL
 FILEFLAGS 		0x0L
 FILEOS 		0x4L
 FILETYPE 		0x2L
 FILESUBTYPE 	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Mbedthis Portable Run-time Library\0"
            VALUE "OriginalFilename", "libmpr.dll\0"
            VALUE "CompanyName", "Mbedthis\0"
            VALUE "FileVersion", PATCH_LEVEL
            VALUE "LegalCopyright", "Copyright \251 2003-2004\0"
            VALUE "ProductName", "Mbedthis MRP\0"
            VALUE "ProductVersion", PATCH_LEVEL
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


//
// Local variables:
// tab-width: 4
// c-basic-offset: 4
// End:
// vim:tw=78
// vim600: sw=4 ts=4 fdm=marker
// vim<600: sw=4 ts=4
//
