<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<config>
   <version>0.1</version>

   <system>
	   <timezone>USA - Eastern</timezone>
   </system>

   <console>
	   <flow>None</flow>
	   <ppp>
		   <auth>None</auth>
	   </ppp>
	   <speed>115200</speed>
   </console>

   <services> 
	   <http> 
		   <enabled>on</enabled> 
	   </http>
	   <https> 
		   <enabled>on</enabled> 
	   </https>
	   <telnet> 
		   <enabled>on</enabled> 
	   </telnet>
	   <ssh> 
		   <enabled>on</enabled> 
	   </ssh>
	   <pingreply> 
		   <enabled>on</enabled> 
	   </pingreply>
   </services>

   <eventlog>
	   <server>
		   <type>None</type>
	   </server>
   </eventlog>

   <auth>
	   <type>None</type>
   </auth>

</config>
