#
# /etc/dnsmasq.conf
#
# Configuration file for the dnsmasq service
#
# change this line if you want to bind dnsmasq an other addresses
# "" for all addresses/interfaces
#listen-address=127.0.0.1
#listen-address=192.168.123.1

# Listen only on the specified interface.
# More than one interface may be specified.
# Dnsmasq always listens on the loopback (local) interface.
# If no flags are given, dnsmasq listens on all available interfaces.
#interface=eth0
#interface=eth1

# change this line if you want dnsmasq to serve an MX record for 
# the host it is running on. 
#mx-host=lxgate.homedomain.test

# Specify target for the MX record returned by dnsmasq.
#mx-target=lxgate.homedomain.test

# Return an MX record pointing to itself for each local machine.
#selfmx

# change this line if you want dnsmasq to get its upstream servers from
# somewhere other that /etc/resolv.conf 
#resolv-file=/etc/ppp/resolv.conf

# change this if you want dnsmasq to cache any "hostname" or "client-hostname" from
# a dhcpd's lease file
#dhcp-lease=/var/lib/dhcp/dhcpd.leases

# Specifies the domain which hosts read from the DHCP leases file must have to be legal.
#domain-suffix=homedomain.test

# filter bogus win2k dns querys
filterwin2k

# expand hostnames in /etc/hosts to fqn
expand-hosts

# Return an MX record pointing to the host given by mx-target (or the
# machine on which dnsmasq is running) for each local machine.
# Local machines are those in /etc/hosts or the DHCP leases file.
#localmx

# Set the size of dnsmasq's cache. The default is 150 names.
# Setting the cache size to zero disables caching.
#cache-size=150

# Set the group which dnsmasq runs as: Note that this is required to
# be dialout on Suse systems, to allow access to /etc/ppp/resolv.conf
group=dialout

# Normally responses which come form /etc/hosts and the DHCP lease
# file have Time-To-Live set as zero, which conventionally means
# do not cache further. If you are happy to trade lower load on the 
# server for potentially stale date, you can set a time-to-live (in 
# seconds) here.
#local-ttl=

# If you want dnsmasq to detect attempts by Verisign to send queries
# to unregistered .com and .net hosts to its sitefinder service and
# have dnsmasq instead return the correct NXDOMAIN response, uncomment
# this line. You can add similar lines to do the same for other
# registries which have implemented wildcard A records.
#bogus-nxdomain=64.94.110.11

