NET "sys_clk" LOC = "B11";
NET "sys_reset" LOC = "B4";

NET "sys_clk" TNM_NET = "sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "sys_clk" 100 MHz HIGH 50 %;

# stdio uart tx/rx
NET "tx" LOC = "A7";
NET "rx" LOC = "B7";

# debug uart tx/rx
NET "debug_UART_tx" LOC = "H22";
NET "debug_UART_rx" LOC = "H21";

# real address pins
NET "SRAM_Addr<29>" LOC = "W8";
NET "SRAM_Addr<28>" LOC = "AB6";
NET "SRAM_Addr<27>" LOC = "V8";
NET "SRAM_Addr<26>" LOC = "W7";
NET "SRAM_Addr<25>" LOC = "V9";
NET "SRAM_Addr<24>" LOC = "AA6";
NET "SRAM_Addr<23>" LOC = "V7";
NET "SRAM_Addr<22>" LOC = "AB5";
NET "SRAM_Addr<21>" LOC = "AB18";
NET "SRAM_Addr<20>" LOC = "AA17";
NET "SRAM_Addr<19>" LOC = "Y14";
NET "SRAM_Addr<18>" LOC = "Y15";
NET "SRAM_Addr<17>" LOC = "AB16";
NET "SRAM_Addr<16>" LOC = "AB17";
NET "SRAM_Addr<15>" LOC = "AB15";
NET "SRAM_Addr<14>" LOC = "W14";
NET "SRAM_Addr<13>" LOC = "W13";
NET "SRAM_Addr<12>" LOC = "Y7";
NET "SRAM_Addr<11>" LOC = "Y6";
NET "SRAM_Addr<10>" LOC = "AA16";
NET "SRAM_Addr<9>" LOC = "W6";
NET "SRAM_Addr<8>" LOC = "AA15";
NET "SRAM_Addr<7>" LOC = "W17"; # A22

# SRAM/Flash data pins
NET "SRAM_Data<31>" LOC = "AA12";
NET "SRAM_Data<30>" LOC = "U14";
NET "SRAM_Data<29>" LOC = "W15";
NET "SRAM_Data<28>" LOC = "Y12";
NET "SRAM_Data<27>" LOC = "Y16";
NET "SRAM_Data<26>" LOC = "AA13";
NET "SRAM_Data<25>" LOC = "Y17";
NET "SRAM_Data<24>" LOC = "W16";
NET "SRAM_Data<23>" LOC = "V12";
NET "SRAM_Data<22>" LOC = "AB13";
NET "SRAM_Data<21>" LOC = "W12";
NET "SRAM_Data<20>" LOC = "V16";
NET "SRAM_Data<19>" LOC = "AB14";
NET "SRAM_Data<18>" LOC = "Y13";
NET "SRAM_Data<17>" LOC = "V13";
NET "SRAM_Data<16>" LOC = "AA14";
NET "SRAM_Data<15>" LOC = "Y8";
NET "SRAM_Data<14>" LOC = "AA7";
NET "SRAM_Data<13>" LOC = "W9";
NET "SRAM_Data<12>" LOC = "U11";
NET "SRAM_Data<11>" LOC = "Y9";
NET "SRAM_Data<10>" LOC = "AB8";
NET "SRAM_Data<9>" LOC = "AB9";
NET "SRAM_Data<8>" LOC = "U13";
NET "SRAM_Data<7>" LOC = "AB7";
NET "SRAM_Data<6>" LOC = "U9";
NET "SRAM_Data<5>" LOC = "U10";
NET "SRAM_Data<4>" LOC = "AA8";
NET "SRAM_Data<3>" LOC = "U12";
NET "SRAM_Data<2>" LOC = "AA9";
NET "SRAM_Data<1>" LOC = "W10";
NET "SRAM_Data<0>" LOC = "Y10";
NET "SRAM_CEN<0>" LOC = "AB12";
NET "SRAM_CEN<1>" LOC = "V10";
NET "SRAM_WEN" LOC = "AA5";
NET "SRAM_OEN" LOC = "V14";
NET "SRAM_BEN<0>" LOC = "G19";
NET "SRAM_BEN<1>" LOC = "H20";
NET "SRAM_BEN<2>" LOC = "G20";
NET "SRAM_BEN<3>" LOC = "H19";
# NET "SRAM_STS"    LOC = "V6";
NET "SRAM_Rst" LOC = "E18";

# gpio pins
# left LEDs
# No 8th segment, so left unconnected
NET "GPIO<0>" LOC = "D9";
NET "GPIO<1>" LOC = "C9";
NET "GPIO<2>" LOC = "F11";
NET "GPIO<3>" LOC = "F9";
NET "GPIO<4>" LOC = "F10";
NET "GPIO<5>" LOC = "D10";
NET "GPIO<6>" LOC = "C10";

#right LEDs
# No 8th segment, so left unconnected
NET "GPIO<8>" LOC = "B9";
NET "GPIO<9>" LOC = "A8";
NET "GPIO<10>" LOC = "B8";
NET "GPIO<11>" LOC = "E7";
NET "GPIO<12>" LOC = "E8";
NET "GPIO<13>" LOC = "E10";
NET "GPIO<14>" LOC = "E9";

# user LED, use as power indicator
NET "GPIO<15>" LOC = "A9";

#DIP switches
NET "GPIO<16>" LOC = "C6"; # sw 8
NET "GPIO<17>" LOC = "D6"; # sw 7
NET "GPIO<18>" LOC = "A5"; # ...
NET "GPIO<19>" LOC = "B5";
NET "GPIO<20>" LOC = "C5";
NET "GPIO<21>" LOC = "C4";
NET "GPIO<22>" LOC = "A4"; # sw 2

#sw1 is used as a reset input


