# Configuration file for busybox syslogd
# --------------------------------------
#
# global
#   iso=0|1 (default 0) uses ISO date stamps
#   repeat=0|1 (default 0) show full details for repeated message
#
# remote
#   host=<ipaddr>|<fqdn> remote syslog server
#   port=<portnum> (default 514) udp port on remote syslog server
#   level=alert|crit|debug|emerg|err|info|notice|warning|none
#         (default debug) send this level and above
#
# local
#   maxsize=<int> (default 16) Maximum size of log message in KB
#   level=alert|crit|debug|emerg|err|info|notice|warning|none
#         (default debug) send this level and above
#
# email
#   server=<ipaddr>|<fqdn> remote email server
#   addr=<email>,... list of email addresses to which to send messages
#   sender=<email> sender email address
#   fromhost=<fqdn> domain to use for sender address (only used if sender not specified)
#   delay=<seconds> (default 60) number of seconds to delay before sending
#   freq=<num> (default is unlimited) number of messages per email
#   level=alert|crit|debug|emerg|err|info|notice|warning|none
#         (default err) send this level and above

global iso=1
remote host=10.9.2.1 port=514 level=warning
local maxsize=16 level=debug
email freq=50 server=10.9.2.1 addr=steveb sender=sg575@snapgear.com delay=30 level=emerg
