# dialin.config (CNDFILE in policy.h)
#
# cndfile contains a series of tokens separated by newlines, commas, tabs
# and spaces.  The callerid number is compared with each token in turn,
# until a match occurs.  A match occurs when the token compares equally to
# the callerid information up to the length of the token.  If the token is
# prefixed with a "!", a match means "do not answer the phone".  The token
# "all" matches any telephone number, and will terminate scanning of the
# cndfile.  If no callerid number is present, it is assumed to have the
# value "none".  A line starting with "#" is a comment.  There is an
# implicit "all" at the end of the file.
# 
# For example:

# list of my friends' data lines
#3433535, 7445343, 5551212
#
# dad's fax
#4164646777
#
# disallow [other] calls from numbers matching the following prefix:
#!416
#
# disallow that speed dialer that keeps hitting my machine
#!3444444
#
# allow all calls with the following prefixes
#832, 555
#
# don't allow calls when there's no callerid:
#!none
#
# It's okay to accept calls from out of area
# ("OUT_OF_AREA" token seems ZyXEL specific)
#OUT_OF_AREA
# For V.253 compatibles modems "OUT OF AREA" is represented by the
# single letter 'O'
#O
#
# The caller has denied the transmission of his number
# (private service) (For German Telecom dialprefix *31#).
# This is for V.253 compatible modems represented by the single
# letter 'P'.
# don't allow access to my machine for those callers
#!P
# 
#
# disallow all other calls
#!all
