# faxrunq.config
#
# Sample configuration file for "faxrunq" and "faxrunqd"
#
# valid options: success-send-mail [y/n], failure-send-mail [y/n],
#                success-call-program <name>, failure-call-program <name>,
#		 maxfail-costly <n>, maxfail-total <n>,
#                delete-sent-jobs [y/n], acct-log <filename>
# 
# additional options specific to faxrunqd: fax-devices <tty(s)>,
#                faxrunqd-log <filename>, faxrunqd-keep-logs <n>,
#                acct-log <filename>, policy-config <filename>

#  say "y" here if you want a mail to be sent to the sender of the fax
#  when a fax has been successfully sent, "n" otherwise... (default "y")
#success-send-mail n

#  this states whether a mail should be sent when a fax could not be
#  transmitted at all... (default "y")
#failure-send-mail n

#  here you can specify a program that will be called for each fax that
#  has successfully been sent... (default: no program)
#success-call-program /usr/local/lib/mgetty+sendfax/fax-success

#  and this program is run for each failed fax... (default: no program)
#failure-call-program /usr/local/lib/mgetty+sendfax/fax-fail

#  how often should faxrunq retry "costly" errors (NO CARRIER, aborted
#  transmission, whatever - something that did cost telephone bill)?
#  (default: 3)
#maxfail-costly 5

#  this is the absolute maximum number of tries for a given fax
#  (default: 10)
#maxfail-total 20

#  if you want faxrunq to delete sent faxes completely, set this to "y".
#  If it is set to "n", faxes will be removed from the queue, but the
#  files won't be deleted, that is, you can see those faxes with 
#  "faxq -o"  (default: "n")
#delete-sent-jobs y

#  accounting log file (default: see beginning of faxrunq/faxrunqd script)
#acct-log /var/log/acct.log

# The following options are for faxrunqd only:

#  which devices to use for outgoing faxes, seperated by ":" (default: no tty)
#  this may be overridden by the -l command line switch
#fax-devices ttyS0:ttyS1

#  log file for faxrunqd (default: see beginning of faxrunqd script)
#faxrunqd-log /var/log/faxrunqd.log

#  number of logfiles to keep around when rolling (default: 3)
#faxrunqd-keep-logs 5

#  configuration file for policy routing, see faxrunqd man page for
#  details (default: none, i.e. don't use policy routing)
#policy-config /usr/local/lib/mgetty+sendfax/policy.config
