config LIB_LIBCURL
	bool "Build curl"
	select LIB_LIBIDN
	select LIB_ZLIB
	select LIB_LIBBZ2
	select LIB_LIBSSL
	default n
	help
	  The curl library for resolving URLs.
	  This library requires (and enables) SSL, zlib and libidn.
